body { margin: 0 auto; color: #333; padding-top: 30px; padding-bottom: 20px; }
.container { max-width: 980px; }

h1, h3 { text-align: center; }
h1 { margin-top: 60px; font-size: 400%;}
h3 { padding-bottom: 80px; font-weight: normal;}


ol, li {text-indent: 0px; margin-left: 12px; padding-left: 0px; padding-bottom: 3px;}

.stories p { font-size: 30px; margin: 10px 0 0 0; }
.story-author { font-size: 10px; color: #acacac; }
.story-author a { color: #acacac; }
.story-auhtor a:hover { color: #333; }
